DATABASE_URL=postgresql://postgres:pOgFynVqLWraQUVQKndhyOzFryLjLHue@hayabusa.proxy.rlwy.net:18015/railway
PORT=3000
NODE_ENV=development

# Configuración de correo de verificación (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=negrolobo592@gmail.com
SMTP_PASS=jqhypcpginmorgzi
SMTP_FROM="Sistema de Calzado" <negrolobo592@gmail.com>
